services:
  api:
    build:
      context: ./backend
      dockerfile: dockerfile
    container_name: rag_api
    ports:
      - "8000:8000"
      - "5678:5678" #Port utilisé par debugpy
    environment:
      - DEBUG=1
    volumes:
      - ./backend:/app # Montage du code source pour que les modifs soient prises en compte sans rebuild
      - ../RAG.wiki:/app/RAG.wiki:ro # Ici on charge dans le container en lecture seule le clone des wikis
    depends_on:
      - ollama
      - chroma

  frontend:
    build:
      context: ./frontend
      dockerfile: dockerfile
    container_name: rag_frontend
    ports:
      - "8501:8501" # Port par défaut utilisé par Streamlit.
    environment:
      - DEBUG=1
      - RAG_API_URL=http://api:8000 # Définition de l'url à laquelle le frontend doit s'adresser pour envoyer des requêtes au RAG.
      - EVALUATOR_URL=http://evaluator:8000 # Définition de l'url à laquelle le frontend doit s'adresser pour envoyer des requêtes à l'evaluator.
    volumes:
      - ./frontend:/app # Montage du code source pour que les modifs soient prises en compte sans rebuild
    depends_on:
      - api
      - evaluator

  evaluator:
    build:
      context: ./evaluator
      dockerfile: dockerfile
    container_name: rag_evaluator
    ports:
      - "8002:8000"   # evaluator expose 8000 en interne, publié sur 8002 host
      - "5679:5678"   # port debug côté host (évite conflit avec api:5678)
    environment:
      - DEBUG=1
      - RAG_API_URL=http://api:8000/ask_question
      - DATASET_PATH=/app/data/dataset.json
    volumes:
      - ./evaluator:/app
      - ./evaluator/dataset.json:/app/data/dataset.json:ro
    depends_on:
      - api
      - ollama

  ollama:
    image: ollama/ollama:latest
    container_name: rag_ollama
    ports:
      - "11434:11434"
    volumes:
      - ollama_data:/root/.ollama  # stocke les modèles téléchargés
  
  chroma:
    image: chromadb/chroma:latest
    container_name: rag_chroma
    ports:
    - "8001:8000"
    volumes:
      - chroma_data:/chroma/chroma
    environment:
      - IS_PERSISTENT=TRUE
      - PERSIST_DIRECTORY=/chroma/chroma
    restart: unless-stopped

volumes:
  ollama_data:
  chroma_data:
