services:
  api:
    build:
      context: .
      dockerfile: dockerfile
    container_name: rag_api
    ports:
      - "8000:8000"
      - "5678:5678"
    environment:
      - DEBUG=1
    depends_on:
      - ollama

  ollama:
    image: ollama/ollama:latest
    container_name: rag_ollama
    ports:
      - "11434:11434"
    volumes:
      - ollama_data:/root/.ollama  # stocke les modèles téléchargés

volumes:
  ollama_data:
