services:
  api:
    build:
      context: .
      dockerfile: dockerfile
    container_name: rag_api
    ports:
      - "8000:8000"
      - "5678:5678" #Port utilisé par debugpy
    environment:
      - DEBUG=1
    depends_on:
      - ollama
      - chroma

  ollama:
    image: ollama/ollama:latest
    container_name: rag_ollama
    ports:
      - "11434:11434"
    volumes:
      - ollama_data:/root/.ollama  # stocke les modèles téléchargés
  
  chroma:
    image: chromadb/chroma:latest
    container_name: rag_chroma
    ports:
    - "8001:8000"
    volumes:
      - chroma_data:/chroma/chroma
    environment:
      - IS_PERSISTENT=TRUE
      - PERSIST_DIRECTORY=/chroma/chroma
    restart: unless-stopped

volumes:
  ollama_data:
  chroma_data:
